// Place all the styles related to the public/scene_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .scene-picture {
  margin: 0 auto;
  padding: 60px 0 60px;
  display: block;
}