<% following = current_user.followings.find_by(following_user_id: user.id) %>
<% if following.status == 2 %>
  <%= form_with model: following, url: user_following_path(user, following.id), class: "mute-block-form", remote: true do |f| %>
    <%= f.hidden_field :status, value: 0 %>
    <button type="submit" class="form-icon">
      <i class="fas fa-volume-mute red gray-link-icon "></i>
    </button>
  <% end %>
<% else %>
  <%= form_with model: following, url: user_following_path(user, following.id), class: "mute-block-form", remote: true do |f| %>
    <%= f.hidden_field :status, value: 2 %>
    <button type="submit" class="form-icon">
      <i class="fas fa-volume-mute red gray-link-icon"></i>
    </button>
  <% end %>
<% end %>