/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #666;
}


.user-desk {
  width: 1310px;
  margin: 0 auto;
  padding-top: 105px;
}

.desk-visual {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.user-information {
  width: 580px;
  height: 338px;
  padding: 20px;
  background-color: #FAFAFA;
  opacity: 0.98;
  position: absolute;
  top: 20px;
  left: 20px;
  transition: opacity 400ms;
}

.user-information.fade-out {
  opacity: 0;
}

.profile {
  display: flex;
  align-items: flex-end;
}

.user-name {
  font-size: 20px;
}

.identification {
  padding-left: 15px;
}

.desk-icon {
  width: 1200px;
  height: 675px;
  margin-top: 10px;
  background-image: url("desk-icon.png");
}

.main-picture-area {
  display :none
}

.main-picture {
  vertical-align: bottom;
}

.main-picture-area:first-child {
  display :block;
}

.set-picture-link {
  width: 1200px;
  height: 40px;
  padding: 4px;
  display: block;
  text-align: center;
  color: #EE8F36;
  font-size: 20px;
  text-decoration: none;
  border: 3px solid #EE8F36;
}

.set-picture-link:hover {
  color: #EA7304;
  border-color: #EA7304;
}

.decision.set-picture-link {
  margin-bottom: 15px;
  background-color: #EE8F36;
  color: #FFF;
  cursor: pointer;
}

.decision.set-picture-link:hover {
  background-color: #EA7304;
}

.decision.set-picture-link:focus {
  outline: none;
}

.scene-select {
  padding-top: 15px;
  display: flex;
  justify-content: center;
}

.left-adjustment {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.bubble {
  width: 20px;
  height: 20px;
  background-color: #5EA1A9;
  border: 1px solid #5EA1A9;
  border-radius: 10px;
  cursor: pointer;
}

.bubble:nth-child(n+3) {
  background-color: transparent;
  border: 1px solid #5EA1A9;
  margin-left: 15px;
}

.circle-plus-button {
  width: 40px;
  height: 40px;
  background-color: #EE8F36;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.scene-select .circle-plus-button {
  margin-left: 15px;
}

.circle-plus-button:hover {
  background-color: #EA7304;
  outline: none;
}

.circle-plus-button:focus {
  outline: none;
}

.plus-mark-mini {
  width : 2px;
  height: 20px;
  margin: 0 19px;
  background-color: #FFF;
  position: relative;
}

.plus-mark-mini::after {
  content: "";
	width: 20px;
	height: 2px;
	background-color: #FFF;
	position: absolute;
	top: 9px;
	left: -9px;
}

.desk-item {
  width: 1310px;
  padding: 35px 0 0 10px;
  display: none;
}

.desk-item:first-child {
  display: block;
}

.item-card-list {
   display: flex;
  flex-wrap: wrap;
}

.card-shadow {
  margin: 0 30px 30px 0;
  width: 300px;
  height: 540px;
  background-color: #E6E6E6;
  border-radius: 5px;
  position: relative;
}

.new-scene-item-link {
  width: 300px;
  height: 540px;
  padding: 20px;
  display: block;
  background-color: #EE8F36;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  top: -5px;
  left: -5px;
}

.new-scene-item-link p {
  margin: 215px 0;
  color: #FFF;
  font-size: 20px;
}

.new-scene-item-link:hover {
  background-color: #EA7304;
  outline: none;
}

.new-scene-item-link:focus {
  outline: none;
}

.item-detail-link {
  text-decoration: none;
  cursor: pointer;
}

.item-card {
  width: 300px;
  height: 540px;
  background-color: #FAFAFA;
  border-radius: 5px;
  text-decoration: none;
  position: absolute;
  top: -5px;
  left: -5px;
}

.card-picture {
  border-radius: 5px 5px 0 0;
  vertical-align: bottom;
}

.item-card-information {
  padding: 15px 10px 10px;
  position: relative;
}

.rating-star {
  padding-bottom: 10px;
}

.star {
  color: #E6B86F;
  font-size: 20px;
}

.gray-star {
  color: #CCC;
  font-size: 20px;
}

.genre-index {
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.item-card .genre-index {
  height: 65px;
  overflow: hidden;
}

.genre-content {
  padding: 0 5px 6px 0;
  display: flex;
}

.genre-frame {
  max-width: 280px;
  height: 24px;
  padding: 1px 8px 0;
  border: 1px solid #5EA1A9;
  border-radius: 12px;
}

.genre-name {
  font-size: 14px;
  color: #5EA1A9;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item-card-link {
  padding-top: 5px;
  display: flex;
}

.link-icon {
  margin-right: 10px;
  text-align: center;
  width: 35px;
  color : #EE8F36;
  font-size: 30px;
}

.card-bottom {
  display: flex;
}

.created-at {
  padding-top: 8px;
  font-size: 14px;
  text-align: center;
}

.delete-button {
  width: 30px;
  height: 30px;
  background-color: #CCC;
  border: none;
  border-radius: 15px;
  position: absolute;
  top: -1px;
  cursor: pointer;
}

.item-card-information .delete-button {
  border-radius: 5px 0 5px 0;
  top: 210px;
  right: 0;
}

.delete-button:hover {
  background-color: #B3B3B3;
  outline: none;
}

.delete-button:focus {
  outline: none;
}

.cross-mark {
  width : 2px;
  height: 16px;
  margin: 0 14px;
  background-color: #FFF;
  position: relative;
  transform: rotate(45deg);
}

.cross-mark::after {
  content: "";
	width: 16px;
	height: 2px;
	background-color: #FFF;
	position: absolute;
	top: 7px;
	left: -7px;
}


.desk-visual .image-box {
  width: 1200px;
  height: 675px;
  background-color: #FAFAFA;
  background-size: cover;
  background-position: center;

  border-radius: 15px 15px 0 0;
  text-align: center;

  position: relative;
}

.desk-visual .image-select {
  padding: 0;
  position: absolute;
  top : 310px;
  left: 555px;
}

.image-icon {
  color: #EE8F36;
  font-size: 35px;
  opacity: 0.8;
  cursor: pointer;
}


 .scene-picture {
  margin: 0 auto;
  padding: 105px 0 60px;
  display: block;
}

.item-list {
  width: 1200px;
  margin: 0 auto;
}

.link-button {
  width: 180px;
  height: 40px;
  padding-top: 1px;
  background-color: #EE8F36;
  border: none;
  border-radius: 10px;
  color: #FFF;
  font-size: 20px;
}

.item-list .link-button {
  margin-bottom: 10px;
}

.link-button:hover {
  background-color: #EA7304;
}

.link-button:focus {
  outline: none;
}

.list-item {
  height: 185px;
  padding: 20px 0;
  display: flex;
}

.list-item:first-child {
  padding-top: 60px;
}

.thumbnail {
  border-radius: 5px;
  cursor: pointer;
}

.list-item-information {
  width: 440px;
  margin-right: 20px;
  padding: 0 20px;
}

.scroll.genre-index {
  height: 95px;
}

.scroll{
  overflow-y: scroll;
}

.scroll::-webkit-scrollbar{
  width: 10px;
}

.scroll::-webkit-scrollbar-track{
  border-radius: 10px;
}
.scroll::-webkit-scrollbar-thumb{
  background-color: #CCC;
  border-radius: 10px;
}

.list-item .genre-frame {
  max-width: 385px;
}

.list-item-link {
  width: 510px;
  padding-right: 40px;
}

.icon-link-button {
  text-decoration: none;
}

.pt-0.item-link {
  padding-top: 0;
}

.item-link {
  padding: 10px 0 10px 0;
  display: flex;
  align-items: center;
}

.list-item .circle-plus-button {
  margin-top: 105px;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: #CCC;
  border-radius: 1px;
}


.form {
  width: 990px;
  padding-left: 45px;
  margin: 0 auto;
}

.title {
  padding: 105px 0 60px;
  text-align: center;
  color: #EA7304;
  font-size: 36px;
}

.form-content {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
}

.form-content:last-child {
  padding-bottom: 60px;
}

.form-picture-content {
  padding-bottom: 50px;
  display: flex;
  align-items: flex-start;
}

.label {
  min-width: 320px;
  display: flex;
  align-items: center;
}

.form-picture-content .label {
  padding-top: 5px;
}

.marker {
  width: 20px;
  height: 30px;
  background-color: #EE8F36;
  border-radius: 10px;
  margin-right: 10px;
}

.label-text {
  padding-top: 3px;
  font-size: 20px;
}

.input-box {
  width: 580px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #F5BC86;
  border-radius: 10px;
  font-size: 20px;
}

.input-box:hover {
  border: 1px solid #EE8F36;
  outline: none;
}

.input-box:focus {
  border: 2px solid #EE8F36;
  outline: none;
}

.item-visual .image-box {
  width: 600px;
  height: 600px;
  background-color: #FAFAFA;
  border-radius: 15px 15px 0 0;
  text-align: center;
  position: relative;
}

.item-visual .image-select {
  padding: 0;
  position: absolute;
  top : 270px;
  left: 255px;
}

#image {
  display: none;
}

.center-button {
  text-align: center;
}

.right-button {
  text-align: right;
}

.left-button {
  text-align: left;
}

.form-data.link-button {
  width: 160px;
  margin-bottom: 30px;
}

.underline-button {
  color: #EE8F36;
  font-size: 18px;
  text-decoration : underline;
  cursor: pointer;
}

.underline-button:hover {
  color: #EA7304;
}

.image-select .underline-button {
  opacity: 0.8;
}


.item-detail {
  width: 1200px;
  margin: 0 auto;
  padding-top: 105px;
  display: flex;
}

.item-visual {
  width: 600px;
}

.item-visual .main-picture {
  border-radius: 15px 15px 0 0;
}

.item-visual .set-picture-link {
  width: 600px;
}

.thumbnail-area {
  display: flex;
  align-items: center;
}

.thumb-box {
  width: 145px;
  height: 145px;
  margin-top: 10px;
  padding: 8px;
}

.thumb-box:first-child {
  margin-left: 10px;
  background-color: #AED0D4;
  border-radius: 10px;
}

.thumb-border {
  width: 129px;
  height: 129px;
  padding: 2px;
  border-radius: 7px;
  position: relative;
}

.thumb-box:first-child .thumb-border {
  background-color: #EE8F36;
}

.thumb-border .thumbnail {
  margin: 0;
}

.thumb-box .delete-button {
  border-radius: 5px 0 5px 0;
  top : 99px;
  right: 0px;
  display: none;
}

.new-picture-link {
  width: 125px;
  height: 125px;
  padding: 10px;
  display: block;
  background-color: #EE8F36;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.plus-mark {
  position: relative;
  width : 4px;
  height: 30px;
  margin: 0 13px 5px auto;
  background-color: #FFF;
}

.plus-mark::after {
  content: "";
	position: absolute;
	top: 13px;
	left: -13px;
	width: 30px;
	height: 4px;
	background-color: #FFF;
}

.new-picture-link .image-icon {
  color: #FFF;
  opacity: 1;
}

.item-information {
  width: 600px;
  padding: 20px 0 0 20px;
}

.item-information-content {
  width: 580px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #FAFAFA;
}

.item-information-content:first-child {
  padding-bottom: 10px;
}

.item-information .genre-index {
  padding-top: 10px;
}

.item-information .genre-content {
  padding: 0 10px 10px 0;
}

.item-information .genre-frame {
  max-width: 510px;
  height: 30px;
  padding: 2px 5px 0 10px;
  border: 1px solid #5EA1A9;
  border-radius: 15px 0 0 15px;
  border-right: 0;
}

.item-information .genre-name {
  font-size: 16px;
}

.link-layout {
  width: 30px;
  height: 30px;
  border: 1px solid #5EA1A9;
  border-left: 0;
  border-radius: 0 15px 15px 0;
  position: relative;
}

.genre-form {
  padding-bottom: 10px;
  display: flex;
}

.genre-input-box {
  width: 510px;
  height: 30px;
  display: block;
  padding: 0 10px 0 15px;
  border: 2px solid #EE8F36;
  border-right: 0;
  border-radius: 15px 0 0 15px;
  font-size: 18px;
}

.genre-input-box:hover {
  outline: none;
}

.genre-input-box:focus {
  outline: none;
}

.genre-form .link-layout {
  width: 30px;
  height: 30px;
  background-color: #FFF;
  border: 2px solid #EE8F36;
  border-left: 0;
  border-radius: 0 15px 15px 0;
  position: relative;
}

.genre-form .circle-plus-button {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  position: absolute;
  top: -2px;
}

.genre-form .plus-mark-mini {
  width : 2px;
  height: 16px;
  margin: 0 14px;
}

.genre-form .plus-mark-mini::after {
	width: 16px;
	height: 2px;
	top: 7px;
	left: -7px;
}

.item-edit-link.right-button, .item-link-set.right-button {
  padding: 10px 0 10px 0;
}

.description-text {
  font-size: 18px;
}

.back.link-button {
  width: 60px;
  height: 35px;
  font-size: 16px;
  border-radius: 5px;
}

.item-picture {
  margin: 0 auto 50px;
  display: block;
  border-radius: 10px;
}

#select-star {
  width: 260px;
  height: 40px;
  padding-top: 5px;
  text-align: center;
}

#select-star i {
  color: #ccc;
  font-size: 30px;
}

.description.form-content{
  align-items: flex-start;
}

.description .label {
  padding-top: 5px;
}

.description .input-box {
  height: 300px;
  padding: 10px 20px;
  resize: none;
  font-size: 18px;
}


.form-item-picture-link {
  width: 600px;
  height: 40px;
  margin-bottom: 30px;
  padding: 4px;
  display: block;
  background-color: #EE8F36;
  border: none;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  text-decoration: none;
}

.form-item-picture-link:hover {
  background-color: #EA7304;
}

.form-item-picture-link:focus {
  outline: none;
}


.link-title {
  padding-bottom: 50px;
  display: flex;
}

.form-link-content {
  padding-bottom: 100px;
  display: flex;
  align-items: center;
}

.set-url {
  display: flex;
  align-items: center;
}

.set-url .input-box {
  width: 510px;
  margin-right: 10px;
}

.set-url .link-button {
  width: 60px;
  min-width: 60px;
  margin-right: 10px;
}

.set-url .link-icon {
  margin: 0;
  color: #ccc;
}




@media screen and (max-width: 965px) {

  .form {
    width: 90%;
  }

  .form-content, .form-link-content {
    display: block;
  }

  .form-picture-content {
    display: block;
  }

  .label {
    min-width: auto;
    padding-bottom: 15px;
  }

  .form-picture-content .label {
    padding-top: 0;
  }

  .input-box {
    width: 100%;
  }

  .set-url .input-box {
    width: 100%;
  }

  .item-image-box {
    margin: 0 auto;
  }

}