/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/
@import "font-awesome-sprockets";
@import "font-awesome";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #666666;
}

.form {
  width: 900px;
  margin: 0 auto;
}

.title {
  padding: 105px 0 60px;
  text-align: center;
  color: #EA7304;
  font-size: 36px;
}

.form-content {
  padding-bottom: 50px;
  display: flex;
  align-items: center;
}

.form-content:last-child {
  padding-bottom: 60px;
}

.form-picture-content {
  padding-bottom: 50px;
  display: flex;
  align-items: flex-start;
}

.label {
  min-width: 320px;
  display: flex;
  align-items: center;
}

.form-picture-content .label {
  padding-top: 5px;
}

.marker {
  width: 20px;
  height: 30px;
  background-color: #EE8F36;
  border-radius: 10px;
  margin-right: 10px;
}

.label-text {
  padding-top: 2px;
  font-size: 20px;
}

.input-box {
  width: 580px;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #F5BC86;
  border-radius: 10px;
  font-size: 20px;
}

.input-box:hover {
  border: 1px solid #EE8F36;
  outline: none;
}

.input-box:focus {
  border: 2px solid #EE8F36;
  outline: none;
}

.item-image-box {
  width: 260px;
  height: 260px;
  background-color: #FAFAFA;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.image-select {
  padding-top : 96px;
  text-align: center;
  cursor: pointer;
}

.image-icon {
  color: #EE8F36;
  font-size: 35px;
  opacity: 0.8;
}

#item_item_pictures_attributes_0_image {
  display: none;
}

.center-button {
  text-align: center;
}

.right-button {
  text-align: right;
}

.link-button {
  width: 180px;
  height: 40px;
  padding-top: 1px;
  background-color: #EE8F36;
  border: none;
  border-radius: 10px;
  color: #FFF;
  font-size: 20px;
}

.form-data.link-button {
  width: 160px;
  margin-bottom: 30px;
}

.link-button:hover {
  border: 3px solid #EA7304;
}

.link-button:active {
  border: 5px solid #EA7304;
  outline: none;
}

.link-button:focus {
  outline: none;
}

.underline-button {
  color: #EE8F36;
  font-size: 18px;
  text-decoration : underline;
}

.underline-button:hover {
  color: #EA7304;
}

.image-select .underline-button {
  opacity: 0.8;
}

@media screen and (max-width: 920px) {

  .form {
    width: 90%;
  }

  .form-content {
    display: block;
  }

  .form-picture-content {
    display: block;
  }

  .label {
    min-width: auto;
    padding-bottom: 15px;
  }

  .form-picture-content .label {
    padding-top: 0;
  }

  .input-box {
    width: 100%;
  }

  .item-image-box {
    margin: 0 auto;
  }

}


.show-item {
  width: 1200px;
  margin: 0 auto;
  padding-top: 105px;
  display: flex;
}

.item-visual {
  width: 600px;
}

.zoom-picture {
  border-radius: 15px 15px 0 0;
  vertical-align: bottom;
}

.edit-picture-link {
  width: 600px;
  height: 40px;
  padding: 4px;
  display: block;
  text-align: center;
  color: #EE8F36;
  font-size: 20px;
  text-decoration: none;
  border: 3px solid #EE8F36;
}

.edit-picture-link:hover {
  color: #EA7304;
  border-color: #EA7304;
}

.thumbnail-area {
  display: flex;
}

.top-thumb:first-child {
  width: 145px;
  height: 145px;
  margin: 10px 10px 0;
  padding: 10px;
  background-color: #AED0D4;
  border-radius: 10px;
}

.thumbnail {
  border-radius: 5px;
  margin: 20px 20px 0 0;
}

.thumbnail:first-child {
  margin: 0;
}

.new-picture-link {
  width: 125px;
  height: 125px;
  margin-top: 20px;
  padding: 10px;
  background-color: #EE8F36;
  border-radius: 5px;
  text-decoration: none;
}

.plus-mark {
  position: relative;
  width : 4px;
  height: 30px;
  margin: 0 13px 5px auto;
  background-color: #FFF;
}

.plus-mark::after {
  content: "";
	position: absolute;
	top: 13px;
	left: -13px;
	width: 30px;
	height: 4px;
	background-color: #FFF;
}

.new-picture-link .image-icon {
  color: #FFF;
  opacity: 1;
}

.item-information {
  width: 600px;
  padding: 20px 0 0 20px;
}

.item-information-content {
  width: 580px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #FAFAFA;
}

.genre-index {
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.genre-content {
  padding: 0 10px 10px 0;
  display: flex;
}

.genre-frame {
  height: 30px;
  padding: 2px 5px 0 10px;
  border: 1px solid #5EA1A9;
  border-right: 0;
  border-radius: 15px 0 0 15px;
}

.genre-name {
  color: #5EA1A9;
}

.link-layout {
  width: 30px;
  height: 30px;
  border: 1px solid #5EA1A9;
  border-left: 0;
  border-radius: 0 15px 15px 0;
  position: relative;
}

.genre-delete-button {
  width: 30px;
  height: 30px;
  background-color: #ccc;
  border: none;
  border-radius: 15px;
  position: absolute;
  top: -1px;
}

.genre-delete-button:hover {
  background-color: #B3B3B3;
  outline: none;
}

.genre-delete-button:focus {
  outline: none;
}

.cross-mark {
  width : 2px;
  height: 16px;
  margin: 0 14px;
  background-color: #FFF;
  position: relative;
  transform: rotate(45deg);
}

.cross-mark::after {
  content: "";
	width: 16px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 7px;
	left: -7px;
}

.genre-form {
  padding-bottom: 20px;
  display: flex;
}

.genre-input-box {
  width: 510px;
  height: 30px;
  display: block;
  padding: 0 10px 0 15px;
  border: 2px solid #EE8F36;
  border-right: 0;
  border-radius: 15px 0 0 15px;
  font-size: 18px;
}

.genre-input-box:hover {
  outline: none;
}

.genre-input-box:focus {
  outline: none;
}

.genre-form .link-layout {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 2px solid #EE8F36;
  border-left: 0;
  border-radius: 0 15px 15px 0;
  position: relative;
}

.genre-create-button {
  width: 30px;
  height: 30px;
  display: block;
  background-color: #EE8F36;
  border: none;
  border-radius: 15px;
  position: absolute;
  top: -2px;
}

.genre-create-button:hover {
  background-color: #EA7304;
  outline: none;
}

.genre-create-button:focus {
  outline: none;
}

.plus-mark-mini {
  width : 2px;
  height: 16px;
  margin: 0 14px;
  background-color: #FFF;
  position: relative;
}

.plus-mark-mini::after {
  content: "";
	width: 16px;
	height: 2px;
	background-color: #FFF;
	position: absolute;
	top: 7px;
	left: -7px;
}

.back.link-button {
  width: 60px;
  height: 35px;
  font-size: 16px;
  border-radius: 5px;
}