<div class="container">

  <div class="user-setting">

    <nav class="user-setting-info">
      <li class="setting-info-panel">
        <%= link_to mail_setting_user_path(@user), class: "icon-link-button" do %>
          <p>メールアドレス変更</p>
        <% end %>
      </li>
      <li class="setting-info-panel">
        <%= link_to edit_user_registration_path, class: "icon-link-button" do %>
          <p>パスワード変更</p>
        <% end %>
      </li>
      <li class="setting-info-panel active">
        <%= link_to leave_user_path(@user), class: "icon-link-button" do %>
          <p>退会</p>
        <% end %>
      </li>
    </nav>

    <div class="user-setting-form resign">

      <P>アカウントに関するすべてのデータは表示されなくなり、利用不可となります。</P>

      <%= link_to resign_user_path(current_user), method: :patch do %>
        <button type="button" class="link-button">アカウント削除</button>
      <% end %>

      </div>

    </div>

  </div>

</div>